pytest
pytest-timeout
pytest-mock
pytest-cov
pytest-repeat
pytest-reraise
pytest-custom_exit_code
pytest-asyncio==0.20.3
mock
black==22.3.0
pytest-split==0.8.0
fast-autocomplete==0.9.0
Levenshtein==0.20.5
python-Levenshtein==0.20.5
better_profanity==0.7.0
filetype
streamlit==1.16.0
extra-streamlit-components==0.1.55
click==8.0.0
fastapi==0.78.0
uvicorn==0.17.6
uvloop==0.16.0
pydantic==1.9.2
av==9.1.1