pytest
pytest-timeout
pytest-mock
pytest-cov
pytest-repeat
pytest-reraise
pytest-custom_exit_code
mock
black==22.3.0
pytest-split==0.8.0
-e git+git@github.com:jina-ai/annlite.git@branch/fix-cannot-return